.settingPage{
	background: rgb(247, 247, 247);
	height: 100%;
	.top{
		height:100px;
		overflow:hidden;
		padding:20px;
		.left{
			float: left;
			width: 100px;
			height: 100px;
			border-radius:50%;
			overflow:hidden;
		}
		.right{
			margin-left:130px;
			font-size: 40px;
			line-height: 100px;
		}
	}
	.content{
		background: #fff;
	}
}